<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ista.Migration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ista.Migration.Properties.Settings>
            <setting name="PathPhysFrTemplate" serializeAs="String">
                <value>Files\Template-PersonnePhysiqueIndiceFR.docx</value>
            </setting>
            <setting name="PathPhysNlTemplate" serializeAs="String">
                <value>Files\Template-PersonnePhysiqueIndiceNL.docx</value>
            </setting>
            <setting name="PathMoraFrTemplate" serializeAs="String">
                <value>Files\Template-PersonneMoraleSansIndiceFR.docx</value>
            </setting>
            <setting name="PathMoraNlTemplate" serializeAs="String">
                <value>Files\Template-PersonneMoraleSansIndiceNL.docx</value>
            </setting>
            <setting name="ResultPath" serializeAs="String">
                <value>Result\</value>
            </setting>
        </Ista.Migration.Properties.Settings>
    </applicationSettings>
</configuration>